
/* layout.html */

#navbar{
    background-color:grey;
    height: auto;
    text-align: center;
    font-size: 25px;
}

.link{
    color:cyan; 
    padding-left: 100px;
}

.header{
    text-align: center;
}

.content{
    padding-left: calc(25% - 20px);
    padding-right: calc(25% - 20px);
}

.footer{
  background-color: grey;
  height: 50px;
}

.footer p{
  color: cyan;
  padding-left: calc(25% - 20px);
  padding-right: calc(25% - 20px);
  text-align: center;
}

.page_title{
  
}





/* home.hmtl */


.introduction_container {
    display: flex;
    align-items: center;
  }
  
.introduction_image {
  flex: 1;
}

.introduction_text {
  flex: 2;
  padding: 20px;
}

.introduction_image img {
  max-width: 100%;
  height: auto;
}

.hero_image{
  width: 100%;
  height: auto;
}


.featured_brands_container{
  padding: 30px;
  text-align: center;
}

.featured_brands_container h4{
  font-size: 30px;
}

.featured_brands_container h3{
  font-size: 40px;
}







/* bottle_info.html*/

.bottle_info_container{
  display: flex;
  align-items: center;
}

.fragrance_info_container{
  flex: 2;
}

.fragrance_img_container{
  flex: 2;
  padding-left: 100px;
}

.fragrance_img_container img{
  height: 300px;
  padding-top: 50px;
}







/* comparision.html */
.comparision_container{
  display: flex;
  align-items: center;
}

.edt_container{
  flex: 2;
}




.edp_container{
  flex: 2;
  padding: 50px;
}

