@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
/* layout.html */

body{
   margin:0;
   padding: -5%;
   font-family: "Cormorant", serif;
   font-weight: 500;
   font-style: normal;
   font-size: larger;
}

.navbar{
    background-color:grey;
    display: flex;
    align-items: center; /* align the items in the center vertically */
    justify-content: center;  /* align the items in the center horizontally */
    height: 80px;
}


/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 900*/

.navbar a{
    color:cyan; 
    text-decoration: none;
    font-size: 30px;
    padding-left: 50px;
    padding-right: 50px;
    transition: background-color 0.3s, color 0.3s; /* For smooth transitions */
    font-family: "Vollkorn", serif;
    font-weight: 400;
    font-style: normal;
}

.navbar a:hover{
  background-color: gold;
  color: black;
  height: 80px;
  display: flex;
  align-items: center; /* align the items in the center vertically */
  justify-content: center;  /* align the items in the center horizontally */
}

.header{
    font-size: 30px;
    color: black; 
    text-align: center; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Shadow for header text */
    opacity: 0;
    /* Set the initial opacity to 0 to make the title fade in*/
    animation: fadein ease-in forwards;
    animation-duration: 1.5s;
    font-family: Georgia, serif;
}

/* what the fadein animation does*/
@keyframes fadein {
    to {opacity: 1;}
  }


.search_bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.search_bar label{
  font-size: 20px;
  padding-right: 10px;
}

.search_bar input {
  padding-right: 10px
}


.search_bar button{
  height: 35px;
  width: 90px;
  background-color: gold;
  border-radius: 5px;
}

.search_bar button:hover{
  background-color: rgb(255, 230, 91);
}

.content{
    padding-left: calc(25% - 20px);
    padding-right: calc(25% - 20px);

}

.footer{
  background-color: grey;
  height: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer p{
  color: cyan;
  padding-left: calc(25% - 20px);
  padding-right: calc(25% - 20px);
  
}

.footer a{
  color: gold;
}

.footer hr{
  height: 1px;
  background-color: gold;
  border-bottom: gold;
}






/* home.hmtl */


.introduction_container {
    display: flex;
    align-items: center;
  }
  
.introduction_image {
  flex: 1;
}

.introduction_text {
  flex: 2;
  padding: 20px;
}

.introduction_image img {
  max-width: 100%;
  height: auto;
  box-shadow: 3px 3px rgb(46, 43, 43);
  border-radius: 3px;
}

.hero_container img{
  height: 100%;
  width: 100%;
  border-radius: 5px;
  box-shadow: 5px 5px rgb(46, 43, 43);
  
}



.featured_brand_container{
  padding: 30px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}

.featured_brand_container:hover{
  transition: 0.5s ease-in-out;
  background-color: gold;
}

.featured_brand_container h4{
  font-size: 30px;
}








/* bottle_info.html*/

.bottle_info_container{
  display: flex;
  align-items: center;
}

.fragrance_info_container{
  flex: 8;
}

.fragrance_img_container{
  flex: 2;
  padding-left: 100px;
}

.fragrance_img_container img{
  height: 300px;
  padding-top: 50px;
}







/* comparision.html */
.comparision_container{
  display: flex;
  align-items: center;
}

.edt_container{
  flex: 2;
}

.edp_container{
  flex: 2;
  padding: 50px;
}


/* search.html */
.search_container{
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  padding-left: 50px;
  box-shadow: 2px 2px;
  display: flex;
  opacity: 0;
  /* Set the initial opacity to 0 to make the title fade in*/
  animation: fadein ease-in forwards;
  animation-duration: 1s;
}

.search_result{
  flex: 5;
}

.arrow{
  flex: 1;
  padding-left: 20px;
  border-width: 0px;
  border-left: 2px;
  border-style: solid;
  border-radius: 10px;
  padding-left: 10%;
  background-color: cyan;
  transition: background-color 0.3s ease;   /* make the new background colour ease in */
  text-decoration: none;
  color: black;
}

.arrow:hover{
  background-color: gold;
}

.arrow h1{
  font-size: 50px;
}







/* no_result.html */
.error{
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  background-color: rgb(255, 60, 60);
  padding-left: 50px;
  width: auto;
  opacity: 0;
  animation: fadein ease-in forwards;
  animation-duration: 1.0s;
}



/* all_fragrances.html */

.fragrance_container{
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  padding-left: 50px;
  box-shadow: 2px 2px;
  display: flex;
}

.fragrance_name{
  flex:5;
  margin-top: auto;
  margin-bottom: auto;
}

.fragrance_link{
  flex:1;
}


/* review.html */


.reviews{
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  box-shadow: 3px 3px;
  width: auto;
  margin-right: 15%;
}

.reviews p{
  padding-left: 20px;
}

.profile_container{
  display: flex;
}

.picture{
  flex: 1;
  padding-left: 15px;
}

.picture img{
  width: 75px;
  border-radius: 75px;
}

.name{
  flex: 9;
}

.review_fragrance{
  font-size: 25px;
}

.submit{
  background-color: gold;
  width: 100px;
  height: 30px;
}

.submit:hover{
  background-color: rgb(255, 230, 91);
}

.review_box{
  width: 100%;
  max-width: 600px; 
  height: 150px; 
  padding: 15px 0px 0px 15px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: grey;
  font-size: 16px;
  transform: border-color 0.3s; /* adds a smooth transition effect */
}

.review_box:focus{
  border-color: black;
  border-width: 3px;
}




/* review_success.html */
.success{
  margin-left: 10%;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  background-color: rgb(76, 255, 60);
  opacity: 0;
  /* Set the initial opacity to 0 to make the title fade in*/
  animation: fadein ease-in forwards;
  animation-duration: 2s;
}

.success h3{
  padding-left: 15%;
}

.success h2{
  padding-left: 15%;
}



/* 404.html */
.oops_container{
  display: flex;
}

.oops{
  flex: 1;
}

.pikachu{
  flex: 1;
  width: 50%;
}

.oops h1{
  font-size: 125px;
}

.oops p{
  font-size: 35px;
}

.button-container {
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  color: cyan;
  background-color: grey;
  border-radius: 5px;
  text-decoration: none;
  margin: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: gold;
  color: black;
}
