
/* layout.html */

body{
   font-family: Georgia, serif;
}

.navbar{
    background-color:grey;
    display: flex;
    align-items: center; /* align the items in the center vertically */
    justify-content: center;  /* align the items in the center horizontally */
    height: 80px;
}

.navbar a{
    color:cyan; 
    text-decoration: none;
    font-size: 30px;
    padding-left: 50px;
    padding-right: 50px;
    transition: background-color 0.3s, color 0.3s; /* For smooth transitions */
    
}

.navbar a:hover{
  background-color: cyan;
  color: black;
  height: 80px;
  display: flex;
  align-items: center; /* align the items in the center vertically */
  justify-content: center;  /* align the items in the center horizontally */
}

.header{
    font-size: 30px;
    color: black; 
    text-align: center; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Shadow for header text */
    opacity: 0;
    /* Set the initial opacity to 0 to make the title fade in*/
    animation: fadein ease-in forwards;
    animation-duration: 1.5s;
}

/* what the fadein animation does*/
@keyframes fadein {
    to {opacity: 1;}
  }


.search_bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.search_bar label{
  font-size: 20px;
  padding-right: 10px;
}

.search_bar input {
  padding-right: 10px
}


.search_bar button{
  height: 35px;
  width: 90px;
  background-color: gold;
  border-radius: 5px;
}

.search_bar button:hover{
  background-color: rgb(255, 230, 91);
}

.content{
    padding-left: calc(25% - 20px);
    padding-right: calc(25% - 20px);

}

.footer{
  background-color: grey;
  height: 50px;
}

.footer p{
  color: cyan;
  padding-left: calc(25% - 20px);
  padding-right: calc(25% - 20px);
  text-align: center;
}






/* home.hmtl */


.introduction_container {
    display: flex;
    align-items: center;
  }
  
.introduction_image {
  flex: 1;
}

.introduction_text {
  flex: 2;
  padding: 20px;
}

.introduction_image img {
  max-width: 100%;
  height: auto;
  box-shadow: 5px 5px rgb(46, 43, 43);
  border-radius: 3px;
}

.hero_container img{
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.hero_container img:hover{
  opacity: 0.7;
}


.featured_brands_container{
  padding: 30px;
  text-align: center;
}

.featured_brands_container h4{
  font-size: 30px;
}

.featured_brands_container h3{
  font-size: 40px;
}







/* bottle_info.html*/

.bottle_info_container{
  display: flex;
  align-items: center;
}

.fragrance_info_container{
  flex: 2;
}

.fragrance_img_container{
  flex: 2;
  padding-left: 100px;
}

.fragrance_img_container img{
  height: 300px;
  padding-top: 50px;
}







/* comparision.html */
.comparision_container{
  display: flex;
  align-items: center;
}

.edt_container{
  flex: 2;
}

.edp_container{
  flex: 2;
  padding: 50px;
}


/* search.html */
.search_result{
  border-color: black;
}
