
{%extends 'layout.html'%}

{%block content%}
<h1 class = "page_title">{{concentration[0]}} Fragrances</h1>
<hr/>

    {% for fragrance in fragrances %} 

        <div class = fragrance_container>

            <div class = fragrance_name>
                <!-- Lists out all of the edt fragrances -->
                <h3>{{ fragrance[1] }}</h3>
                <!-- Link for more info -->
            </div>

            <a href = "http://127.0.0.1:5000/fragrance/{{fragrance[0]}}" class = arrow>
                <h1>➢</h1>
            </a> 

        </div>
        <br><br><br>
    
    {% endfor %}




{%endblock%}