
{%extends 'layout.html'%}

{%block content%}

    <p><strong>Name: </strong>{{info[0]}}</p>
    <p><strong>Brand: </strong>{{brand[0]}}</p>
    <p><strong>Description: </strong>{{info[1]}}</p>
    <p><strong>Concentration: </strong>{{info[2]}}</p>
    <p><strong>Longevity: </strong>{{info[3]}}</p>
    <p><strong>Bottle size: </strong>{{info[4]}}</p>
    <p><strong>Price: </strong>{{info[5]}} NZD</p>

    <br>
    <h3>Notes</h3>
    <ul>  <!-- An unordered list listing all the notes-->
        {% for note in notes %}
            <li>{{ note[1] }}</li> <!-- Notes -->
        {% endfor %}

    </ul>


{%endblock%}
