{% extends 'layout.html' %}

{% block content %}
{% if fragrances %}
    <h2>{{ fragrances[0][1] }} Fragrances</h2>
    <hr/>

    {% for fragrance in fragrances %}
    <div class="fragrance_info_container">
        <h3>{{ loop.index }}. {{ fragrance[0] }}</h3> <!-- Fragrance Name -->
        <h4>Brand: {{ fragrance[2] }}</h4> <!-- Brand Name -->
        <p>{{ fragrance[3] }}</p> <!-- Description -->
    </div>
    {% endfor %}
{% else %}
    <p>No EDP fragrances found.</p>
{% endif %}
{% endblock %}
