{%extends "layout.html"%}
{%block content%}

<h1 class = "page_title">Homepage</h1>
<hr>

<img src="static/images/hero.png" alt="Hero Image" class = "hero_image">

<div class = "introduction_container">

    <div class = "introduction_image">
        <img src="static/images/hero.png" alt="Introduction Image">
    </div>


    <div class = "introduction_text">
        <h2>
            Comparing EDT and EDP Fragrances
        </h2>
        <p>
            Welcome to compare-compare!

            At compare-compare, we're passionate about helping you discover and understand the differences 
            between EDT (Eau de Toilette) and EDP (Eau de Parfum) fragrances. Whether you're a seasoned fragrance 
            enthusiast or just starting your journey into the world of perfumes, we're here to provide you with
            valuable insights and information.<br><br>

            Our mission is to empower you to make informed decisions when choosing between EDT and EDP fragrances. 
            From understanding their composition and concentration levels to exploring their unique characteristics 
            and lasting power, we've got you covered.<br><br>

            Explore our comprehensive resources, informative articles, and curated fragrance recommendations to 
            enhance your fragrance knowledge and elevate your scent game. Join us on this aromatic adventure and 
            embark on a journey of olfactory exploration like never before!
        </p>
    </div>

</div>


<div class = "featured_brands_container">
    <h3>Feature Brands</h3>
    <hr>
</div>

{% for brand in brands %}
<div class = "featured_brands_container">
    <h4>{{ brand[0] }}</h4>
</div>


{% endfor %}

{%endblock%}

