<!doctype html>

<html>

	<head>
		<title> Compare EDT and EDP Fragrances</title>
		<link rel = "stylesheet" href = "/static/style.css">
		<meta charset="'UTF-8">
		<meta name = "viewport" content = "width = device-width, initial-scale = 1.0" >
	</head>

	<header class = "header">
		<h1 class = "main_title">EDT vs EDP<h1>
	</header>

	<body>
		
		
		

		<nav>
			<div class = "navbar">
				<a href = "http://127.0.0.1:5000/">Homepage</a>
				<a href = "http://127.0.0.1:5000/EDT">EDT Fragrances</a>
				<a href = "http://127.0.0.1:5000/EDP">EDP Fragrances</a>
				<a href = "http://127.0.0.1:5000/comparision">Comparision</a>
				<a href="http://127.0.0.1:5000/form">Reviews</a>
			</div>
			<!-- pages in navbar -->
		</nav>


			<!-- searchbar -->
		<div>
			<form action="/search" method = "POST" class = "search_bar">
				<label for="search_bar">Search a fragrance: </label>
				<input type="text" id = "search_bar", name = "search_bar">
				<button type = "submit">Search</button>
			</form>
		</div>
		

		<main class = "content">
			{%block content%}{%endblock%}
		</main>
		
		<footer class = "footer">
			<p><strong>Embrace the Essence</strong></p>
			<p>Discover our world of luxurious scents. Experience sophistication and elegance with every fragrance.</p>
			<p>Explore Our Collections | About Us | Contact | Blog</p>
			<p>Follow us:</p>
			<p><a href="https://www.instagram.com/">Instagram </a>|
			   <a href="https://www.facebook.com/">Facebook </a>|
			   <a href="https://twitter.com/?lang=en">Twitter </a>|
			   <a href="https://nz.pinterest.com/">Pinterest </a>
			</p>
			<hr>
			<p>© 2024 Compare-compare. All rights reserved. | Crafted with passion.</p>
		</footer>
		
		

	</body>

	
</html>