<!doctype html>

<html>

	<head>
		<title> Compare EDT and EDP Fragrances</title>
		<link rel = "stylesheet" href = "/static/style.css">
		<meta charset="'UTF-8">
		<meta name = "viewport" content = "width = device-width, initial-scale = 1.0" >
	</head>

	<body>
		
		
		<header class = "header">
			<h1>EDT vs EDP</h1>
		</header>

		<nav id = "navbar">
			<a href = "http://127.0.0.1:5000/" class = "link">Homepage</a>
			<a href = "http://127.0.0.1:5000/EDT" class = "link">EDT Fragrances</a>
			<a href = "http://127.0.0.1:5000/EDP" class = "link">EDP Fragrances</a>
			<a href = "http://127.0.0.1:5000/comparision" class = "link">Comparision</a>

		</nav>


		<main class = "content">
			{%block content%}{%endblock%}
		</main>
		
		<footer class = "footer">
			<p> THE FOOTER </p>
		</footer>
		
		

	</body>

	
</html>