<!doctype html>

<html>

	<head>
		<title> Compare EDT and EDP Fragrances</title>
		<link rel = "stylesheet" href = "/static/style.css">
		<meta charset="'UTF-8">
		<meta name = "viewport" content = "width = device-width, initial-scale = 1.0" >
	</head>

	<body>
		
		
		<header class = "header">
			<h1 class = "main_title">EDT vs EDP</h1>
		</header>

		<nav>
			<div class = "navbar">
				<a href = "http://127.0.0.1:5000/">Homepage</a>
				<a href = "http://127.0.0.1:5000/EDT">EDT Fragrances</a>
				<a href = "http://127.0.0.1:5000/EDP">EDP Fragrances</a>
				<a href = "http://127.0.0.1:5000/comparision">Comparision</a>
				<a href="http://127.0.0.1:5000/form">Reviews</a>
			</div>
			<!-- pages in navbar -->
		</nav>


		<main class = "content">
			{%block content%}{%endblock%}
		</main>
		
		<footer class = "footer">
			<p> THE FOOTER </p>
		</footer>
		
		

	</body>

	
</html>