{%extends "layout.html"%}
{%block content%}

<h1>Write a review!</h1>

<form action="/submit_review" method = "POST">
    <label for="username">Name:</label>
    <br>
    <input type="text" id = "username" name = "username" value = "Your name">
    <br><br>

    <label for="fragrance">Choose a fragrance:</label>
    <br>
    <select name="fid" id="fid">
        
        <option value="1">Le Male</option>
        <option value="2">Le Male Le Parfum</option>
        <option value="3">Eros Eau de Toilette </option>
        <option value="4">Eros Eau de Parfum</option>
        <option value="5">Bleu de Chanel Eau de Toilette</option>
        <option value="6">Bleu de Chanel Eau de Parfum</option>
        <option value="7">Acqua di Giò</option>
        <option value="8">Acqua di Giò Profumo</option>
        <option value="9">Sauvage Eau de Toillette</option>
        <option value="10">Sauvage Eau de Parfum</option>
        <option value="11">Light Blue Pour Homme</option>
        <option value="12">Light Blue Intense</option>


    </select>
    <br><br>


    <label for="review">Review:</label>
    <br>
    <input type="text" id = "review" name = "review" value = "Write review">
    <br><br>
    <input type="submit" value = "Submit">
    <br><br>
</form>




<h1>Reviews</h1>
{% for review in reviews %}
    <p><strong>Name: </strong>{{ review[0] }}</p>
    <p><strong>Fragrance: </strong>{{ review[1] }}</p>
    <p>{{ review[2] }}</p>
    <br><br>
{% endfor %}


{%endblock%}