{%extends "layout.html"%}
{%block content%}

<h1>Write a review!</h1>

<form action="/submit_review" method = "POST">
    <label for="username">Username:</label>
    <br>
    <input type="text" id = "username" name = "username" value = "Your username">
    <br><br>

    <label for="fragrance">Choose a fragrance</label>
    <select name="" id="">
        <option value=""></option>
    </select>


    <label for="review">Review:</label>
    <br>
    <input type="text" id = "review" name = "review" value = "Write review">
    <br><br>
    <input type="submit" value = "Submit">
</form>

{%endblock%}